<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Joe's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Joe's Blog</a></h1>
        </header>

        <article>
            <time>published: 07/09/2024, 11:35pm</time>
            <h2><a href="">My first post</a></h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error totam aliquid quaerat quo laudantium pariatur eos et? Tempora labore temporibus nisi non recusandae nostrum dicta, ullam ducimus culpa sunt et.
                Voluptate alias maxime accusantium accusamus nesciunt provident maiores corporis numquam culpa sit? Tempora dignissimos quos ad repellendus accusamus explicabo. Autem nihil vel molestias alias dolorum deserunt repellat facilis hic sint.
                Omnis inventore nesciunt amet, placeat aliquid perspiciatis vitae, iste rem adipisci vero odit delectus facere quia nobis ipsa neque fugit. Nostrum illo fugit velit? Veritatis corporis repellendus dolorum recusandae aliquam!
                Repellat maiores corrupti earum ipsam ullam perferendis exercitationem quaerat possimus placeat hic. Commodi consectetur maiores magni atque sunt nostrum nesciunt quis delectus, officiis, earum dolorem nulla eligendi reprehenderit excepturi esse?
                Animi eveniet accusamus assumenda reiciendis aliquid repellendus mollitia illum veniam eaque aut, error placeat. Labore tenetur expedita libero culpa ipsa, nisi in rerum! Consectetur voluptate, unde omnis fuga delectus recusandae!
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est eius maiores sit quas, placeat omnis doloribus minus corporis ex provident, quam tempore ratione voluptate magnam delectus reiciendis, veniam soluta molestiae.
                Laborum possimus recusandae in sequi odio voluptate aut eveniet nihil, debitis totam quaerat nostrum praesentium accusamus molestiae repellat libero quia dolore quam animi exercitationem earum quis minima eum corrupti! Autem!
            </p>
        </article>
    </body>
    </html>